-i https://pypi.org/simple
awscli==1.16.256
beautifulsoup4==4.8.1
botocore==1.12.246
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1 ; python_version != '2.6' and python_version != '3.3'
docutils==0.15.2
idna==2.8
jmespath==0.9.4
lxml==4.4.1
oauthlib==3.1.0
pyasn1==0.4.7
python-dateutil==2.8.0 ; python_version >= '2.7'
pyyaml==5.1.2 ; python_version != '2.6'
requests-oauthlib==1.2.0
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
selenium==3.141.0
six==1.12.0
soupsieve==1.9.4
twython==3.7.0
urllib3==1.25.6 ; python_version >= '3.4'
